*               @org-one01 sm-p01-jesus @org-one01/sm-p01-jesus
/src/           @org-one01 sm-p01-jesus @org-one01/sm-p01-jesus
/docs/          @org-one01 sm-p01-jesus @org-one01/sm-p01-jesus
/.github/       @org-one01/sm-p01-jesus
/docs/rubrica-evalucion.md  @org-one01/sm-p01-jesus