*               @org-one01 sm-p01-jesus @org-one01/codeowners(cw)
/src/           @org-one01 sm-p01-jesus @org-one01/codeowners(cw)
/docs/          @org-one01 sm-p01-jesus @org-one01/codeowners(cw)
/.github/       @org-one01/codeowners(cw)
/docs/rubrica-evalucion.md  @org-one01/codeowners(cw)